In [1]:
import ga4beamlines as ga4b

Imported!
I've been imported!

In [2]:
%matplotlib notebook
import matplotlib.pyplot as plt

In [3]:
import pandas as pd
import numpy as np

In [4]:
testSMode = ga4b.sMode[0]
testPMode = ga4b.pMode[0]
testCXMode = ga4b.cxMode[0]
testMMode = ga4b.mMode[0]
testFMode = ga4b.fMode[0]

In [5]:
#Setup parameters
nGenerations = 500
critVal = 0.9
motors = [{"name": "m1", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m2", "lo": -5, "hi": 5, "sigma": 1.5},
          {"name": "m3", "lo": -5, "hi": 5, "sigma": 0.5},
          {"name": "m4", "lo": -10, "hi": 5, "sigma": 2},
          {"name": "m5", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m6", "lo": -5, "hi": 8, "sigma": 1.25},
          {"name": "m7", "lo": 0, "hi": 10, "sigma": 2},
          {"name": "m8", "lo": -10, "hi": 10, "sigma": 3}]

In [6]:
def PlotResults(pop):
    plt.plot(pop.fitHistory)
    plt.title(
    f"""Fitness History of Population\nSurvivor Method: {pop.sSel['name']}, Num. Elite: {pop.sSel['nElite']}
    Parent Method: {pop.pSel['name']}, S: {pop.pSel['s']}
    Child Method: {pop.cxMode['name']}, Alpha: {pop.cxMode['alpha']}
    Mutation Method: {pop.mMode['name']}
    Population Size: {pop.nPop}""")
    plt.ylabel('Fitness')
    plt.xlabel('Generation')
    plt.legend(pop.fitHistory, loc = "upper right", title="Runs")
    plt.tight_layout()
    plt.show()

In [7]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 0}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "single", "alpha": 0.5}, 
                       mutationMode = {"name": "uniform"}, 
                       fitness = testFMode,
                       nPop = 10)

In [8]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "single", "alpha": 0.5}, 
                       mutationMode = {"name": "uniform"}, 
                       fitness = testFMode,
                       nPop = 10)

In [9]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "single", "alpha": 0.5}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [10]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "simple", "alpha": 0.5}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [11]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "simple", "alpha": 0.75}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [12]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "genitor", "nElite": 0}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "simple", "alpha": 0.75}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [13]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probFit", "s": 1.5}, 
                       cxMode = {"name": "simple", "alpha": 0.75}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [14]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 2}, 
                       parentMode = {"name": "probRank", "s": 1.5}, 
                       cxMode = {"name": "whole", "alpha": 0.75}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [15]:
motors = [{"name": "m1", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m2", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m3", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m4", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m5", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m6", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m7", "lo": -5, "hi": 5, "sigma": 1},
          {"name": "m8", "lo": -5, "hi": 5, "sigma": 1}]

In [34]:
motors = [{"name": "m1", "lo": -5, "hi": 5, "sigma": .1},
          {"name": "m2", "lo": -5, "hi": 5, "sigma": .1},
          {"name": "m3", "lo": -5, "hi": 5, "sigma": .1},
          {"name": "m4", "lo": -10, "hi": 5, "sigma": .1},
          {"name": "m5", "lo": -5, "hi": 5, "sigma": .1},
          {"name": "m6", "lo": -5, "hi": 8, "sigma": .1},
          {"name": "m7", "lo": 0, "hi": 10, "sigma": .1},
          {"name": "m8", "lo": -10, "hi": 10, "sigma": .1}]

In [35]:
pop = ga4b.GA4Beamline(motors = motors, 
                       survivorMode = {"name": "age", "nElite": 0}, 
                       parentMode = {"name": "probFit", "s": 1.5}, 
                       cxMode = {"name": "whole", "alpha": 0.75}, 
                       mutationMode = {"name": "gaussian"}, 
                       fitness = testFMode,
                       nPop = 10)

In [36]:
pop.FirstGeneration()
pop.NextGeneration()

In [37]:
pop.NextGeneration()

In [38]:
pop.population

,m1,m2,m3,m4,m5,m6,m7,m8,fitness,ranking,probability
0,1.014218,0.540996,-2.929151,-3.276359,-0.885212,0.779286,2.970102,2.280867,0.323706,8.50,0.127805
1,0.114999,1.337151,-2.631306,-2.796426,-1.116661,1.306741,2.818955,0.794994,0.320506,7.50,0.115279
2,-0.634915,1.239554,-2.521051,-2.094208,-2.236250,0.822052,3.594555,-0.189739,0.319958,5.00,0.102642
3,-1.461810,-0.182228,-1.661930,-0.849374,-3.221205,-0.334764,5.331341,-0.577178,0.305391,3.00,0.095045
4,-0.311245,2.331249,-2.809123,-2.564519,-1.064992,2.141426,2.626619,-0.019415,0.288998,6.25,0.107360
5,-0.819222,3.005706,-3.602057,-1.964960,-0.304438,3.680834,3.029324,-1.620597,0.285984,3.75,0.099770
6,-0.809732,2.768139,-3.340150,-2.354928,-0.547367,3.251241,2.360077,-0.939465,0.284734,4.75,0.104046
7,-0.209892,2.593551,-3.303588,-2.683803,-1.222043,2.255381,2.698993,-0.524603,0.282370,5.25,0.104217
8,-1.737785,0.551358,-1.856725,-0.822784,-2.966035,0.183713,5.463784,-0.879027,0.259429,2.50,0.094032
9,-1.396885,2.378821,-3.115052,-1.854282,-1.043965,2.583483,3.622095,-1.370183,0.228008,3.50,0.099603

In [21]:
#Evolve population until nGenerations exceeded or critVal achieved
pop.FirstGeneration() 

print(f'Starting Conditions: {pop.fitHistory["peakFitness"][pop.generation - 1].tolist()}')
      
while pop.fitHistory["peakFitness"][pop.generation - 1] < critVal and pop.generation < nGenerations:
    pop.NextGeneration()
      
    #Print/plot updates after each generation if desired
print(f'Final Conditions: {pop.fitHistory["peakFitness"][pop.generation - 1].tolist()}')

Starting Conditions: 0.4592276761199542
Final Conditions: 0.444722998305513

## Some Plots
I was playing around with settings to see their effects.  These did not start from the same initial population, but I still wanted to plot them to get a sense of their performance.

This also is not an exhaustive list of the combinations.  I just tried tweaking a few and building off of those that seemed to cause improvements.

In [ ]:
PlotResults(pop)

In [23]:
PlotResults(pop)

In [24]:
PlotResults(pop)

In [25]:
PlotResults(pop)

In [26]:
PlotResults(pop)

In [27]:
PlotResults(pop)

In [28]:
PlotResults(pop)

In [29]:
PlotResults(pop)

In [30]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst3 = [9,10,11,12]

df = pd.DataFrame({"item1": lst1, "item2": lst2, "item3": lst3})
df

   item1  item2  item3
0      1      5      9
1      2      6     10
2      3      7     11
3      4      8     12

In [31]:
df["item1"][0]

1

In [32]:
lst4 = [13,14,15]
lst5 = [16,17,18]

In [33]:
df.iloc[0:2,:] = lst4,lst5
df

   item1  item2  item3
0     13     14     15
1     16     17     18
2      3      7     11
3      4      8     12